html, body {
  padding: 0;
  margin: 0;

  overflow: hidden;
}

#header {
  height: 20px;

  border-bottom: 1px solid grey;
  padding-top: 6px;
  padding-right: 4px;
  padding-left: 6px;
  padding-bottom: 6px;

  font-family: 'Share Tech Mono', monospace;
  color: #9e9e9e;

  background-color: #272822;
}

#header a {
  color: #9e9e9e;
  text-decoration: none;
}

#header a:hover {
  color: #9e9e9e;
  text-decoration: underline;
  cursor: pointer;
}

#modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 270px;
  width: 200px;

  display: none;

  margin: auto;
  padding: 8px;

  border: solid 3px #9d769e;

  background-color: #282828;

  z-index: 100;
}

#modal textarea {
  width: 99%;
  height: 50px;

  resize: none;

  margin-top: 6px;
}

#modal button {
  margin-top: 5px;

  border: none;
  border-bottom: solid 3px #483749;

  background-color: #9d769e;

  cursor: pointer;
  outline: none;

  color: #282828;
}

#modal button:active {
  border-top: solid 3px #483749;
  border-bottom: none;
  outline: none;
}

#noti {
  display: none;

  margin-top: 5px;

  border: 1px solid lightgreen;

  background-color: #282828;

  color: lightgreen;

  text-align: center;
}

#modalover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: black;
  opacity: 0.5;

  z-index: 100;
}

#body {
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
}

.con {
  position: absolute;

  border-top: 1px solid grey;
}

#jscon {
  top: 0;
  right: 50%;
  bottom: 66.66%;
  left: 0;
}

#csscon {
  top: 33.33%;
  right: 50%;
  bottom: 33.33%;
  left: 0;
}

#htmlcon {
  top: 66.66%;
  right: 50%;
  bottom: 0;
  left: 0;
}

#jsedit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-size: 12px;
  font-family: 'Fira Mono', monospace;
}

#cssedit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


  font-size: 12px;
  font-family: 'Fira Mono', monospace;
}

#htmledit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;


  font-size: 12px;
  font-family: 'Fira Mono', monospace;
}

.dropzone {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 75%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pop {
  display: none;

  height: 25px;

  position: absolute;
  top: 1px;
  right: 14px;

  cursor: pointer;

  z-index: 10;

  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  color: #9e769e;
}

#resultpop:hover {
  opacity: .6;
  cursor: pointer;
}

#resultpop span:hover {
  opacity: 1;
  cursor: pointer;
}

#resultpop div {
  display: none;
}

.iframedim {
  width: 30px;
  height: 10px;

  font-size: 8pt;

  background-color: rgba(0, 0, 0, 0);

  border: none;
  outline: 1px solid #9e769e;
}

#jsmenu {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100px;

  background-color: #000;

  z-index: 5;
}

#result {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;

  background-color: lightgrey;
}

iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: auto;

  border: none;

  background-color: white;
}

.ace_scrollbar-h {
  height: 6px !important;
}
